<h3>Facebook Post Schedule</h3>
{{add-post action='addPost'}}
<hr>
<div class="list-group">
  {{#each model.posts as |post|}}
     <a class="list-group-item clearfix">
      {{post.text}} - Posts {{moment-from-now post.date}}
      <div class="pull-xs-right">
        {{bs-button style='danger' text='Delete' click=(route-action 'deletePost' post)}}
      </div>
     </a>
  {{/each}}
</div>
