<h3>Facebook Post Schedule</h3>
{{add-post action='addPost'}}
<hr>
<div class="list-group">
  {{#each model.posts as |post|}}
     <a class="list-group-item">
       {{post.text}} - {{moment-from-now post.date}}
     </a>
  {{/each}}
</div>
